.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    background: $background-primary;
    background-image: linear-gradient(0, transparent, #E5E8F7);

    // &::before {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 40vh;
    //     // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    //     z-index: 1;
    // }
}

header {
    display: flex;
    padding: 24px;
    position:fixed;
    background: white;
    width:100%;
    top:0;

    nav {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 15px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-content: space-around;
    gap: 80px;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding: 120px 0;

    .text {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 40vw;
        margin-top: 10vh;
        max-width: 1000px;

        h1 {
            // font-size: 4rem;
            // font-weight: 300;
            margin-bottom: 10px;
            margin-top: 2rem;
        }

        p {
            margin-top: 2rem;
            max-width: 80%;
            // font-size: 1.2rem;
            // line-height: 2rem;
        }
    }

    .cta {
        background-color: transparent;
        border: 2px solid $button-label-on-background;
        color: white;
        padding: 10px 20px;
        //   font-size: 1rem;
        cursor: pointer;
        margin-bottom: 30px;
        z-index: 2;
    }
}

.buttons {
    display: flex;
    gap: 20px;

    button:first-child {
        color: $button-label-on-background;
    }
}